name: "letsencrypt"
services:
  lego:
    image: "11notes/lego:4.28.1"
    dns:
      - "8.8.8.8"
      - "9.9.9.9"
    read_only: true
    environment:
      TZ: "Europe/Zurich"
      LEGO_CONFIG: |-
        domains:
          - name: "domain.com"
            fqdns:
              - "*.domain.com"
              - "domain.com"
            commands:
              - "--dns"
              - "rfc2136"

          - name: "porkbun.com"
            fqdns:
              - "*.porkbun.com"
              - "porkbun.com"
            commands:
              - "--dns"
              - "porkbun"
        global:
          LEGO_EMAIL: "info@domain.com"
          RFC2136_NAMESERVER: "ns.domain.com"
          RFC2136_TSIG_ALGORITHM: "hmac-sha512"
          RFC2136_TSIG_KEY: "lego"
          RFC2136_TSIG_SECRET: ${RFC2136_TSIG_SECRET}
          PORKBUN_SECRET_API_KEY: ${PORKBUN_SECRET_API_KEY}
          PORKBUN_API_KEY: ${PORKBUN_API_KEY}
    volumes:
      - "lego.etc:/lego/etc" 
      - "lego.var:/lego/var"
    networks:
      frontend:
    restart: "always"

volumes:
  lego.etc:
  lego.var:

networks:
  frontend: